{% extends 'layout/base.html.twig' %}

{% block main %}
    <main class="mh-80vh">
        <div class="maw-70 m-auto mt-3 mb-3 pt-3 d-f fd-c">
            <section class="d-f jc-c m-auto pt-3 pb-3 mb-3">
                <div class="ta-l d-f fd-c">
                    <h1 class="fw-600 fs-3-5 lh-3c5">Erreur {{ content.code }}</h1>
                    <h5 class="mt-0-5">{{ content.message }}</h5>
                    <a class="button-bb-wc-2 mt-1 br-5 fw-600 ta-c" href="/">
                        Retour à l'acceuil
                    </a>
                </div>
            </section>
        </div>
    </main>


{% endblock %}